/* font family added and defult remove  */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* set heading color  */
h1{
    font-weight: bolder;
    color:cornflowerblue;
}
/* set bolder  */
h3{
    font-weight: bold;
}
/* to fixed alignment of input field  */
label{
    width: 150px;
    display: inline-block;
    font-weight: bold;
    margin: 10px;

}
/* simply set a backgroundColor and Height  */
.main-container{
    background-color:whitesmoke;
    height: 800px;
}